#left{
    float: left;
    width: 32%;
    height: 40%;
    background-color: #0066ff;
    border-radius: 10px;
    box-shadow: 5px 6px #bfbfbf;
}
#right{
    float: right;
    width: 32%;
    height: 40%;
    background-color: #ff3333; 
    border-radius: 10px; 
    box-shadow: 5px 6px #bfbfbf;
}
#center{
    margin: auto;
    width: 32%;
    height: 40%;
    background-color: #00cc44; 
    border-radius: 10px; 
    box-shadow: 5px 6px #bfbfbf;
}
a,p{
    font-family: 'Open Sans', sans-serif;
}
#box_radius{
    border-radius: 10px;
}
h2{
    text-align: center;
}
.firstfont{
    font-family: 'Spectral', serif; font-size: 35px; 
}
.container_size{
    width: 60%;
}
body {
    padding-top: 0rem; 
}
body:before {
    content: ' ';
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1; 
}

.containerSH{
    box-shadow: 5px 10px #888888;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    transition: opacity 1s linear;
}
select{
    text-align:center;
    text-align-last:center;
}
.pargh{
    text-align: center;
}
#login_design{
    background-color: white;
    width: 32%;
    height: 50%;
    margin-top: 5%;
    padding-bottom: 5%;
    border-radius: 10px; box-shadow: 4px 5px #bfbfbf;
}

#register_design{
    background-color: white;
    width: 32%;
    height: 50%;
    margin-top: 5%;
    padding-bottom: .5%;
    border-radius: 10px; box-shadow: 4px 5px #bfbfbf;
}
#srch-bar{
    width: 50%;
}
#div-chk-back{
    background-color: white;
    border-radius: 10px;
    height: 400px;
    width: 800px;
    border-radius: 10px; box-shadow: 5px 6px #bfbfbf;
}
#div-marg{
    margin-top: 9%;
}

.this-size{
    width: 150px;
}